/* styles related to scorebox */
#scoresBox {
  margin-right: 2%;
  vertical-align: top;
  display: inline-block;
}
.scoreMiniBox {
  display: block;
}
.textSayingScore {
  white-space: nowrap;
}
.textScoreValue {
  padding: 0;
}

/* styles related to controlbox */
#controlBox {
  margin-right: 2%;
  vertical-align: middle;
  display: inline;
}

/* styles related to instructions */
#instructions {
  width: 100%;
  text-align: left;
  display: block;
  margin: 0% 2%;
  padding-top: 5px;
}



#leaderboards1 {
  overflow: hidden;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#leaderboards2 {
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
}
.leaderboard {
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  border-color: #3f51b5;
  margin: 2px;
  white-space: nowrap;
}

@-webkit-keyframes invalid {
  from {
    color: white;
  }
  to {
    color: #3f51b5;
  }
}
@-moz-keyframes invalid {
  from {
    color: white;
  }
  to {
    color: #3f51b5;
  }
}
@-o-keyframes invalid {
  from {
    color: white;
  }
  to {
    color: #3f51b5;
  }
}
@keyframes invalid {
  from {
    color: white;
  }
  to {
    color: #3f51b5;
  }
}
.newScoreEffect {
  -webkit-animation: invalid 3s 1; /* Safari 4+ */
  -moz-animation: invalid 3s 1; /* Fx 5+ */
  -o-animation: invalid 3s 1; /* Opera 12+ */
  animation: invalid 3s 1; /* IE 10+ */
}
