@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7jsfan');
  src:  url('fonts/icomoon.eot?7jsfan#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7jsfan') format('truetype'),
    url('fonts/icomoon.woff?7jsfan') format('woff'),
    url('fonts/icomoon.svg?7jsfan#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 72px;
  margin-left: 5px;
  
  color: blue;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  /* text-shadow: 0 0 10px #000; /* Firefox 3.5+, Opera 9+, Safari 1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Glow(Color=#000000,Strength=2); /* IE<10 */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-airplane:before {
  content: "\e900";
}
.icon-baby-carriage:before {
  content: "\e901";
}
.icon-bicycle:before {
  content: "\e902";
}
.icon-car:before {
  content: "\e903";
}
.icon-fighter-jet:before {
  content: "\e904";
}
.icon-helicopter:before {
  content: "\e905";
}
.icon-horse:before {
  content: "\e906";
}
.icon-monster-truck:before {
  content: "\e907";
}
.icon-motorcycle:before {
  content: "\e908";
}
.icon-shopping-cart:before {
  content: "\e909";
}
.icon-truck:before {
  content: "\e90a";
}
.icon-wheelchair:before {
  content: "\e90b";
}
