.gameContainer {
  text-align: center;
  display: inline-block;
  width: 70%;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #3f51b5;
  min-height: 500px;
}

#progressContainer {
  position: relative;
  width: 100%;
  display: inline-block;
  background-image: url("https://i.imgur.com/xNH3nHW.png");
  text-align: left;
}

#scoresAndControlContainer {
  width: 100%;
  display: inline-block;
  text-align: right;
  vertical-align: bottom;
  position: relative;
  padding-bottom: 20px;
}

#controlBox {
  float: right;
  flex-direction: row;
}

.scoreMiniBox {
  display: inline-block;
  padding-right: 3%;
}
.textSayingScore {
  padding-right: 3px;
  white-space: nowrap;
}
.textScoreValue {
  font-size: 24px;
  padding: 3px;
}

#scoresBox {
  display: inline-block;
  padding-right: 1%;
}

#instructions {
  width: 100%;
  text-align: left;
  display: inline-block;
  margin: 0% 2%;
  padding: 0;
}

#typeboxContainer {
  position: relative;
  width: 100%;
  text-align: left;
  display: inline-block;
}
.typeBox {
  width: 90%;
  position: absolute;
  left: 5%;
  top: 0;
  padding: 0;
  margin: 0;

  font-weight: normal;
  word-break: break-all;
  white-space: break-spaces;
}
#typeMeBox {
  color: #c0c0c0;
}
#typedInputBox {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  outline: none;
  height: 100%;
  resize: none;
  overflow: hidden;
}

.highlightError {
  background: red;
}
