.gameContainer {
  text-align: center;
  display: inline-block;
  width: 70%;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #3f51b5;
  min-height: 325px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

/* styles related to progress container */
#progressContainer {
  position: relative;
  width: 100%;
  text-align: left;
  min-height: 5rem;
  vertical-align: text-bottom;
}

/* styles related to scorebox */
#scoresBox {
  margin-right: 2%;
  vertical-align: top;
  display: inline-block;
}
.scoreMiniBox {
  display: block;
}
.textSayingScore {
  white-space: nowrap;
}
.textScoreValue {
  padding: 0;
}

/* styles related to controlbox */
#controlBox {
  margin-right: 2%;
  vertical-align: middle;
  display: inline;
}

/* styles related to instructions */
#instructions {
  width: 100%;
  text-align: left;
  display: block;
  margin: 0% 2%;
  padding-top: 5px;
}

/* styles related to typebox */
#typeBox {
  margin-right: 2%;
  vertical-align: middle;
  display: inline;
}
#typeboxContainer {
  position: relative;
  width: 100%;
  text-align: left;
  display: inline-block;
}

.typeBoxWrapping {
  font-weight: normal;
  word-break: break-all;
  white-space: break-spaces;
}
.typeBox {
  width: 90%;
  position: absolute;
  left: 5%;
  top: 0;
  padding: 0;
  margin: 0;
  min-height: 150px;
}
#typeMeBox {
  color: #c0c0c0;
}
#typedInputBox {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  outline: none;
  height: 100%;
  resize: none;
  overflow: hidden;
  overflow-x: hidden;
}

.highlightError {
  background: red;
  display: inline;
}

#leaderboards1 {
  overflow: hidden;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#leaderboards2 {
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
}
.leaderboard {
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  border-color: #3f51b5;
  margin: 2px;
  white-space: nowrap;
}

@-webkit-keyframes invalid {
  from {
    color: white;
  }
  to {
    color: #3f51b5;
  }
}
@-moz-keyframes invalid {
  from {
    color: white;
  }
  to {
    color: #3f51b5;
  }
}
@-o-keyframes invalid {
  from {
    color: white;
  }
  to {
    color: #3f51b5;
  }
}
@keyframes invalid {
  from {
    color: white;
  }
  to {
    color: #3f51b5;
  }
}
.newScoreEffect {
  -webkit-animation: invalid 3s 1; /* Safari 4+ */
  -moz-animation: invalid 3s 1; /* Fx 5+ */
  -o-animation: invalid 3s 1; /* Opera 12+ */
  animation: invalid 3s 1; /* IE 10+ */
}
