.gameContainer {
  text-align: center;
  display: inline-block;
  width: 70%;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #3f51b5;
  min-height: 500px;
}

/* styles related to progress container */
#progressContainer {
  position: relative;
  width: 100%;
  text-align: left;
}

/* styles related to scorebox */
#scoresBox {
  margin-right: 2%;
  vertical-align: top;
  display: inline-block;
}
.scoreMiniBox {
  display: block;
}
.textSayingScore {
  white-space: nowrap;
}
.textScoreValue {
  padding: 0;
}

/* styles related to controlbox */
#controlBox {
  margin-right: 2%;
  vertical-align: middle;
  display: inline;
}

/* styles related to instructions */
#instructions {
  width: 100%;
  text-align: left;
  display: block;
  margin: 0% 2%;
  padding-top: 5px;
}

/* styles related to typebox */
#typeBox {
  margin-right: 2%;
  vertical-align: middle;
  display: inline;
}
#typeboxContainer {
  position: relative;
  width: 100%;
  text-align: left;
  display: inline-block;
}

.typeBoxWrapping {
  font-weight: normal;
  word-break: break-all;
  white-space: break-spaces;
}
.typeBox {
  width: 90%;
  position: absolute;
  left: 5%;
  top: 0;
  padding: 0;
  margin: 0;
}
#typeMeBox {
  color: #c0c0c0;
}
#typedInputBox {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  outline: none;
  height: 100%;
  resize: none;
  overflow: hidden;
}

.highlightError {
  background: red;
  display: inline;
}
